
.button-container .button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    padding: 10px 20px;
    border: 1px solid #838181;
    margin: 5px;
    background-color: #48444437;
    cursor: pointer;
    font-size: 16px;
    font-weight: 100;
}

.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF1A;
}


