.stories-section{
    width: 85%;
    margin: auto;
}

.stories-section .heading{
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
    height: 5rem;
}

.stories-section .story{
    color: white;
    width: 33%;
}

.stories-section .story p{
    font-size: 20px;
    padding-top: 1.5rem;
    padding-bottom: 1.2rem;
    cursor: pointer;
}

.stories-section .story h4{
    font-size: 22px;
    padding-top: 1.5rem;
    cursor: pointer;
    margin-bottom: 2rem;
}

.carousel{
    display: flex;
    margin-top: 2rem;
    margin-bottom: 2rem;
}